{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	{% block css %}

	{% endblock %}
	<style type="text/css">
		.subcat{
			list-style: none;
		}
        hr{
        	border-bottom: 1px solid red;
        }
        .allcat{
        	border-bottom:  1px solid red;
        }
	
	</style>
</head>
<body class="container-fluid">

	<div class="row">
		<div class="col-md-3">
		 <nav class="navbar navbar-sm bg-light">
		<h4 class="allcat">All Categories</h4>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'ecomapp:clienthome' %}">All Products</a>
				</li>
				{% for category in allcategorys %}
				<li class="nav-item">
					<a class="nav-link" href="/?cat={{category.slug}}">{{category.title}}</a>
				</li>
				{% for subcategory in category.productcategory_set.all %}
				<li class="ml-3 subcat">
					<a href="/?cat={{subcategory.slug}}">{{subcategory.title}}</a>
				</li>
				{% endfor %}
				{% endfor %}
			</ul>
		 </nav>	
		</div>
		<div class="col-md-9">
		 <nav class="navbar navbar-expand-sm bg-light">	
			<ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/"><span style="color: green">Kinmel.com</span></a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link float-right" href="{% url 'ecomapp:mycart' %}">Cart</a>
              </li>
               	{% if request.user.is_authenticated and request.user.groups.first.name == "customer" %}
               <li class="nav-item">
                <a class="nav-link text-success" href="#">{{request.user}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
                {% else %}
              <li class="nav-item">
                <a href="/login/" class="nav-link">Login</a>
              	
              </li>
              <li class="nav-item">
              	
                <a href="/register/" class="nav-link">Register</a>
              </li>
                {% endif %}
            </ul>
         </nav>   
           
<br>



			{% block content %}

			{% endblock %}
		
	</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% block js %}
{% endblock %}
</body>
</html>
