{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block content %}

<style type="text/css">
	.add-to-cart {
		color: yellow;
	}
</style>
<h3>{{thiscat}}</h3><hr>
<div class="row">
	{% for product in allproducts %}
	<div class=" col-md-3 mt-3">
		<div class="card" >
			<img class="card-img-top" src="{{product.image.url}}" alt="img-fluid img-thumbnail" style="height: 250px;object-fit: cover;">
			<div class="card-body">
				<h5 class="card-title"><a href="{% url 'ecomapp:clientproductdetail' product.id%}">{{product.title}}</h5></a>
				<p class="card-text" style="font-size: 12px;">Price: <strike>Rs {{product.mrp}}</strike> Rs. {{product.sp}} </p>
				<p>Discount: {{product.discount}}%</p>
				<p class="card-text" style="font-size: 12px;">Quantity: {{product.quantity}} </p>
				<a href="{% url 'ecomapp:addtocart' %}?p_id={{product.id}}" class="btn btn-primary add-to-cart">Add to cart</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% for subcat in thiscat.productcategory_set.all %}
<hr>
<h4 class="text-info" >{{subcat.title}}</h4>
<div class="row">
	{% for product in subcat.product_set.all %}
	<div class=" col-md-3">
		<div class="card" >
			<img class="card-img-top" src="{{product.image.url}}" alt="img-fluid img-thumbnail" style="height: 250px;object-fit: cover;">
			<div class="card-body">
				<h5 class="card-title"><a href="{% url 'ecomapp:clientproductdetail' product.id%}">{{product.title}}</h5></a>
				<p class="card-text" style="font-size: 12px;">Price: <strike>Rs {{product.mrp}}</strike> Rs. {{product.sp}} </p>
				<p>Discount: {{product.discount}}%</p>
				<p class="card-text" style="font-size: 12px;">Quantity: {{product.quantity}} </p>

				<a href="{% url 'ecomapp:addtocart' %}?p_id={{product.id}}" class="btn btn-primary add-to-cart">Add to cart</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endfor %}

{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		$('.add-to-cart').on('click', function(e){
			e.preventDefault();
			$.ajax({
				url: $(this).attr('href'),
				data: {},
				success: function(data){
					alert(data)
				}
			})
		})
	})
</script>
{% endblock %}