{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block content %}
<style type="text/css">
	h5{
		margin-bottom: 15px;
	}
</style>
<h3>{{thiscat}}</h3><hr>
		 <h4><span style="color:blue;font-weight:bold">{{productdetail.title}}</span></h4><hr>
<div class="row">
	<div class="col-md-4">
		 <img src="{{productdetail.image.url}}" class="img-fluid"><br><br>
		
	</div>
	<div class="col-md-4">
		<h5><span style="color:blue;font-weight:bold;">Title</span>: {{productdetail.title}}</h5>
		<h5><span style="color:blue;font-weight:bold;">Category</span>: {{productdetail.category}}</h5>
		<h5><span style="color:blue;font-weight:bold;">Sku</span>: {{productdetail.sku}}</h5>
		<h5><span style="color:blue;font-weight:bold;">Mrp</span>: {{productdetail.mrp}}</h5>
		<h5><span style="color:blue;font-weight:bold;">Sp</span>: {{productdetail.sp}}</h5>
		<h5><span style="color:blue;font-weight:bold;">Quantity</span>: {{productdetail.quantity}}</h5>
		
	</div>
	<div class="col-md-4 bg-success text-white p-3">
		<h3>Delivery Options</h3><hr>
		<p>Free Delivery inside kathmandu valley. </p>
		<p>Rs. 200/-  outside kathmandu valley. </p><hr>
		<p class="text-warning">Rs. 250 off for every purchage greater than Rs 2500</p>
		{% if request.user.is_authenticated and request.user.groups.first.name == "customer" %}
		<form method="POST" action="{% url 'ecomapp:clientreview' productdetail.pk %}">
			{% csrf_token %}
			{{reviewform.as_p}}
			<button class="btn btn-info">Give review</button>
		</form>
		{% else %}
			<a href="/login/">Login to review</a>
		{% endif %}
	</div>
	<div class="col-md-12">
		<p><span style="color:blue;font-weight:bold">Description</span>: {{productdetail.description}}</p>
	</div>


</div>
<div class="row">
	<div class="col-md-12">
		<h4 class="p-1 text-warning">Customer reviews on this product</h4><hr>
		{% for review in productdetail.productreview_set.all|dictsortreversed:"id" %}
		<div class="row">
			<div class="col-md-8">
				<li>{{review.review}}</li>
				<p class="{% if review.rating == 'Excellent' %}text-success{% elif review.rating == 'Good' or review.rating == 'Average' %}text-info{% elif review.rating == 'Poor' %}text-warning{% else %}text-danger{% endif %}">({{review.rating}}) 
					{% if review.customer == request.user.customer %}
					<a href="{% url 'ecomapp:clientreviewdelete' productdetail.id review.id %}"><span class="fa fa-trash"></span></a>
					{% endif %}

				</p>

			</div>
			<div class="col-md-4">
				<li>Review by: {{review.customer.name}}</li>
				<p>on: {{review.created_at}}</p>
			</div>
				

			

		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}			
