{% extends 'clienttemplates/clientbase.html' %}


{% block title %}My cart{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12" id="mytable-wrapper">
		<h3>My Cart</h3>
		<table class="table table-bordered mytable">
			<thead>
				<tr>
					<th>SN</th>
					<th>Product</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Subtotal</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for cartproduct in cart.cartproduct_set.all %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{cartproduct.product.title}}</td>
					<td>{{cartproduct.rate}}</td>
					<td>{{cartproduct.quantity}}</td>
					<td>{{cartproduct.subtotal}}</td>
					<td>
						<a class="btn btn-success manage-cart" href="{% url 'ecomapp:managecart' %}?action=inc&cp_id={{cartproduct.id}}"><i class="fa fa-plus"></i></a>
						<a class="btn btn-warning manage-cart" href="{% url 'ecomapp:managecart' %}?action=dec&cp_id={{cartproduct.id}}"><i class="fa fa-minus"></i></a>
						<a class="btn btn-danger manage-cart" href="{% url 'ecomapp:managecart' %}?action=del&cp_id={{cartproduct.id}}"><i class="fa fa-trash"></i></a>
					</td>
				</tr>

				{% empty %}
				<tr>
					<td colspan="4" class="text-center">-- No items in the cart --<br><a href="/">Continue shopping</a></td>
					
				</tr>
				{% endfor %}
				<tr>
					<th colspan="4" class="text-right">Total</th>
					<th>{{cart.total}}</th>
					<th><a class="manage-cart" href="{% url 'ecomapp:managecart' %}?action=empty&c_id={{cart.id}}">Empty Cart</a></th>
				</tr>
			</tbody>
		</table>
			{% if cart.cartproduct_set.count > 0 %}<a href="{% url 'ecomapp:ordercreate' %}">Checkout</a>{% endif %}
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$('#mytable-wrapper').on('click', '.manage-cart',function(e){
		e.preventDefault();
		$.ajax({
			url: $(this).attr('href'),
			data: {},
			success: function(data){
				alert(data);
				$('#mytable-wrapper').load('#mytable-wrapper .mytable')
			}
		})

	})
</script>
{% endblock %}