{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block content %}
<h3>{{thiscat}}</h3><hr>
<div class="row">
	<div class="col-md-6">
		<h4>Shipping Information</h4>
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<button>Place order</button>
		</form>
	</div>
	<div class="col-md-6">
		<h3>Cart Information</h3><hr>
		{% for cartproduct in cart.cartproduct_set.all %}
		<li>{{cartproduct.product.title}}(Rs. {{cartproduct.rate}} * {{cartproduct.quantity}}) = Rs. {{cartproduct.subtotal}}</li>
		{% endfor %}
		<hr>
		<li style="list-style: none; margin-left: 40%;">Total: Rs. {{cart.total}} /-</li>
	</div>

</div>
{% endblock %}