{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block content %}
<style type="text/css">

    form{
        border: 1px solid blue!important;
        padding: 15px;
        margin: 5px;
    }
    #id_username{
        color: red;
    }
    #form-wrapper{

    }
</style>
<div class="row">
        <div class="col-md-6 mx-auto">
            <!-- main-heading -->
            <h2>Registration form</h2>
                
        	{% if error %}
            <li class="text-danger">{{error}}</li>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
             {% csrf_token %}
             {{ form.as_p }}
             <button class="btn btn-info w-75 primary">Login</button>

            </form>	
		</div>
</div>


{% endblock %}