{% extends 'admintemplates/adminbase.html' %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<h3>Customer Information</h3>
		<table class="table table-bordered">
			<tr>
				<th>Customer</th>
				<td>{{orderobj.cart.customer}}</td>
			</tr>
			<tr>
				<th>Shipping Address</th>
				<td>{{orderobj.municipality}}<br>({{orderobj.street_address}})</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<h3>Ordered Products Information</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>SN</th>
					<th>Product</th>
					<th>Rate</th>
					<th>Quantity</th>
					<th>Subtotal</th>
				</tr>
			</thead>
			<tbody>
				{% for product in orderobj.cart.cartproduct_set.all %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{product.product.title}}</td>
					<td>{{product.rate}}</td>
					<td>{{product.quantity}}</td>
					<td>{{product.subtotal}}</td>
				</tr>
				{% endfor %}
				<tr>
					<th>Total</th>
					<th>{{orderobj.total}}</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}