{% extends 'admintemplates/adminbase.html' %}

{% load static %}

{% block content %}


<div class="row">
	<div class="col-md-8">
		<h3>Latest Order</h3>
		<table class="table">
			<thead>
				<tr>
					<th>SN</th>
					<th>Order Id</th>
					<th>Cart Id</th>
					<th>Customer</th>
					<th>Shipping Address</th>
					<th>Total</th>
					<th>Ordered on</th>
				</tr>
			</thead>
			<tbody>
				{% for order in orderlist %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td><a href="/ecom-admin/order-{{order.id}}/">#ORDER_{{order.id}}</a></td>
					<td>#CART_{{order.cart.id}}</td>
					<td>{{order.cart.customer}}<br>({{order.mobile}})</td>
					<td>{{order.municipality}}<br>({{order.street_address}})</td>
					<td>{{order.total}}</td>
					<td>{{order.created_at}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}