{% extends 'clienttemplates/clientbase.html' %}

{% block content %}
<style type="text/css">
    form{
        border: 1px solid blue!important;
        padding: 15px;
    }
    #id_username{
        color: red;
    }
    #form-wrapper{

    }
</style>
	<h3>Login Form</h3>
	{% if error %}
    <li class="text-danger">{{error}}</li>
    {% endif %}
    <form method="POST">
     {% csrf_token %}
     {{ form.as_p }}
     <button class="btn btn-info w-75 primary">Login</button>

    </form>	
{% endblock %}