{% extends 'admintemplates/adminbase.html' %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h3>All Products</h3>
		<select id="category">
			<option value="all">All Category</option>
			{% for category in allcategorys %}
			<option value="{{category.id}}">{{category.title}}</option>
			{% endfor %}
		</select>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>SN</th>
					<th>Title</th>
					<th>Sku</th>
					<th>Category</th>
					<th>mrp</th>
					<th>sp</th>
				</tr>
			</thead>
			<tbody>
				{% for category in allcategories %}
				<tr class="bg-dark text-white"><td colspan="6">Category: {{category.title}}</td></tr>
				{% for product in category.product_set.all %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{product.title}}</td>
					<td>{{product.sku}}</td>
					<td>{{product.category}}</td>
					<td>{{product.mrp}}</td>
					<td>{{product.sp}}</td>
				</tr>
				{% empty %}
				<tr><td colspan="6">No products available in this category</td></tr>
				{% endfor %}
				{% endfor %}

			</tbody>
			<hr>
				
		</table>
	</div>
</div>
			
				


			


{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		var params = new window.URLSearchParams(window.location.search);

		$('#category').val(params.get('category'));
		
		$('#category').change(function(){
			var value = $(this).val();
			window.location.href = "{% url 'ecomapp:adminproduct' %}" + "?category=" + value;
		})
	})
</script>
{% endblock %}